.automaton-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-color: #303030;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-row {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}

.form-row > div {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left; 
    font-weight: bold;
}

.transition-table {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 1rem;
    width: 100%;
}

table {
    width: 100%;
}